<div class="user_show">

  <div class="user_item">
    <div class="user_img">
      <img src=<%= @user.photo %> alt="user_img">
    </div>
    <div class="user_desc">
      <h2 class="user_name"><%= @user.name %></h2>
      <p class="user_post_number">Number of posts: <%= @user.posts_count %></p>
    </div>
  </div>

  <div class="user_bio">
    <h4>Bio</h4>
    <p class="bio_detail"><%= @user.bio %></p>
  </div>

  <ul class="post_list">
    <% @recent_posts.each do |post| %>
      <li class="post_item">
        <h4><%= post.title %></h4>
        <p class="post_text"><%= post.text %></p>
        <p class="comments_likes">
          Comments: <%= post.comments_count %>,
          Likes: <%= post.likes_count %>
        </p>
      </li>
    <% end %>
  </ul>

  <a href=<%= user_posts_url(user_id: @user.id) %>>
    <div class="btn_cont">
      <button class="btn">See all posts</button>
    </div>
  </a>

</div>
